{% extends 'layout.html' %} {# inherits format from layout.html #}

{% block title %} {# Overides layout.html default title #}
    <meta http-equiv="refresh" content="300">  {# auto refreshes the page #}
    <title>Current Data - {{ server.ServerName }}</title>
    <link rel="icon" href="/static/favicons/health.ico">
{% endblock title %}

{% block content %}

    {# Title bar #}
    <a class="text-decoration-none" href="{{ url_for('home') }}">  {# links to home page #}
        <div class="row mt-3 text-center"> {# Row for page header #}
            <div class="col-12 ml-auto p-3 mb-2 text-white" style="background-color: #005288">
                <h1>Server System Monitoring Tool</h1>
            </div>
        </div>
    </a>

    <div class="mt-3 text-center">
        <div class="row card-body border border-dark font-weight-bold">
            <div class="text-left">
                <a class="btn btn-secondary btn-lg" href="{{ url_for('home') }}" role="button"><i
                        class="fa fa-home"></i> Home</a> {# button that links to home page #}
            </div>
            <div class="col-10"> {# Rack & Server Name #}
                <h2 class="text-center">Rack: {{ rack.Name }} | Server: {{ server.ServerName }}</h2>
            </div>
        </div>
    </div>

    <div class="row mt-3 text-center"> {# Server Specs table #}
        <div class="col-12 ">
            <table class="table table-bordered table-secondary">
                <thead>
                <th colspan="12">
                    Server Specifications
                </th>
                </thead>

                <tbody>
                <tr> {# Spec's names #}
                    <th>Operating System</th>
                    <th>cpu | Cores</th>
                    <th>GPU</th>
                    <th>Memory</th>
                    <th>Model</th>
                    <th>Building</th>
                    <th>Room</th>
                    <th>Last Updated</th>
                </tr>
                <tr> {# Spec's Values #}
                    <td>{{ server.Os }}</td>
                    <td>{{ server.Cpu }} | {{ server.CpuCores }}</td>
                    <td>{{ server.Gpu }}</td>
                    <td>{{ server.Memory }}GB</td>
                    <td>{{ server.Model }}</td>
                    <td>{{ location.BuildingNumber }}</td>
                    <td>{{ location.Room }}</td>
                    <td>{{ metric.Time }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3 text-center"> {# Usage Table #}
        <table class="table table-borderless table-hover border border-dark">
            <tbody>
            <tr>
                <td><h3><i class="fas fa-{{ color[server.ServerId]['CpuIcon'] }}"></i></h3></td>
                {# CPU icon #}
                <td><h3>CPU Usage:</h3></td>
                <td>  {# color codes metric usage that links to the usage page #}
                    <a href="{{ url_for( 'cpu', slug=server.ServerId) }}"
                       class="text-decoration-none text-{{ color[server.ServerId]['CpuColor'] }}">
                        <h3>{{ metric.Cpu }}%</h3>
                    </a>
                </td>
            </tr>

            <tr>
                <td><h3><i class="fas fa-{{ color[server.ServerId]['RamIcon'] }}"></i></h3></td>
                {# Ram icon #}
                <td><h3>RAM Usage:</h3></td>
                <td>  {# color codes metric usage that links to the usage page #}
                    <a href="{{ url_for( 'ram', slug=server.ServerId) }}"
                       class="text-decoration-none text-{{ color[server.ServerId]['RamColor'] }}">
                        <h3>{{ metric.Ram }}%</h3>
                    </a>
                </td>
            </tr>

            <tr>
                <td><h3><i class="fas fa-{{ color[server.ServerId]['DiskIcon'] }}"></i></h3></td>
                {# Disk icon #}
                <td><h3>Disk Usage:</h3></td>
                <td>  {# color codes metric usage that links to the usage page #}
                    <a href="{{ url_for('disk', slug=server.ServerId) }}"
                       class="text-decoration-none text-{{ color[server.ServerId]['DiskColor'] }}">
                        <h3>{{ metric.Disk }}%</h3>
                    </a>
                </td>
            </tr>

            <tr>
                <td><h3><i class="fas fa-{{ color[server.ServerId]['GpuIcon'] }}"></i></h3></td>
                {# GPU icon #}
                <td><h3>GPU Usage:</h3></td>
                <td>  {# color codes metric usage that links to the usage page #}
                    <a href="{{ url_for('gpu', slug=server.ServerId) }}"
                       class="text-decoration-none text-{{ color[server.ServerId]['GpuColor'] }}">
                        <h3>{{ metric.Gpu }}%</h3>
                    </a>
                </td>
            </tr>

            <tr>
                <td><h3><i class="fas fa-{{ color[server.ServerId]['PingIcon'] }}"></i></h3></td>
                {# Ping icon #}
                <td><h3>Ping Status:</h3></td>
                <td>  {# color codes metric usage that links to the usage page #}
                    <a href="{{ url_for('ping', slug=server.ServerId) }}"
                       class="text-decoration-none text-{{ color[server.ServerId]['PingColor'] }}">
                        <h3>{{ metric.PingLatency }} ms - {{ color[server.ServerId]['PingStatus'] }}</h3>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="row mt-5 text-center">
        <div class="col-lg-12 ml-auto">

            {# Table header and button that collapses the table #}
            <button class="btn btn-lg btn-block text-light mb-3" style="background-color: #005288" type="button"
                    data-toggle="collapse" data-target="#collapseService" aria-expanded="false"
                    aria-controls="collapseService">
                <h3>Services</h3>
            </button>

            <div class="collapse" id="collapseService">
                <table id="service" class="display">  {# services table #}
                    <thead>
                    <tr>
                        <th scope="col">Service ID</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for service in service %} {# Gets all services for this server #}
                        <tr>
                            <td>{{ service.ServiceId }}</td>
                            <td>{{ service.ServiceName }}</td>
                            <td>{{ service.Status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="row mt-5 text-center">
        <div class="col-lg-12 ml-auto">
            {% if database != 0 %}  {# if this server is supposed to have a databases table #}

                {# Table header and button that collapses the table #}
                <button class="btn btn-lg btn-block text-light mb-3" style="background-color: #005288" type="button"
                        data-toggle="collapse" data-target="#collapseDatabase" aria-expanded="false"
                        aria-controls="collapseDatabase">
                    <h3>Databases</h3>
                </button>

                <div class="collapse" id="collapseDatabase">
                    <table id="database" class="display">  {# databases table #}
                        <thead>
                        <tr>
                            <th>Database ID</th>
                            <th>Database Name</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for db in database %} {# Gets all databases for this server #}
                            <tr>
                                <th>{{ db.DatabaseId }}</th>
                                <th>{{ db.DatabaseName }}</th>
                                <td>{{ db.Status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-5 mb-5 text-center">
        <div class="col-lg-12 ml-auto">
            {% if runningjob != 0 %}  {# if this server has running jobs #}

                {# Table header and button that collapses the table #}
                <button class="btn btn-lg btn-block text-light mb-3" style="background-color: #005288" type="button"
                        data-toggle="collapse" data-target="#collapseJobs" aria-expanded="false"
                        aria-controls="collapseJobs">
                    <h3>Running Jobs</h3>
                </button>

                <div class="collapse" id="collapseJobs">
                    <table id="jobs" class="display">  {# table for running jobs #}
                        <thead>
                        <tr>
                            <th>Job Name</th>
                            <th>User</th>
                            <th>Remaining Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rj in runningjob %} {# Gets all databases for this server #}
                            <tr>
                                <th>{{ rj.JobName }}</th>
                                <th>{{ rj.User }}</th>
                                <td>{{ rj.ReservedTime }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}