{# New Home Page #}

{#{% from '_formhelpers.html' import render_field %} {# import neede for chard range forms #}

{% extends 'layout.html' %} {# inherits format from layout.html #}

{% block title %} {# Overides layout.html default title #}
    <title>System Monitoring Tool</title> {# Title - shown in tab on browser #}
{% endblock title %}

{% block content %} {# Overides layout.html body section #}

    <div class="row mt-3 text-center"> {# Row for page header #}
        <div class="col-12 ml-auto p-3 mb-2 bg-secondary text-white">
            <h1>Server System Monitoring Tool</h1>
        </div>
    </div>

    <div class="row mt-3 text-center"> {# Row for Master list button and dropdown #}
        <div class="col-2 text-left"> {# master list button #}
            <a class="btn btn-secondary btn-lg" href="/masterlist" role="button">Master List</a>
        </div>
        <div class="col-10 text-right"> {# dropdown for filter | filter does not work #}
            <form method="post">
                <a>{{ form.csrf_token }}
                {{ form.filter }}</a>
                <button type="submit" class="btn btn-secondary" name="form.sub">Filter</button>
                <a class="btn btn-secondary" href={{ url_for('home') }} role="button">Reset</a>

            </form>
        </div>
    </div>

    {# Racks == Cards #}
    <div class="col-12 card-columns text-center"> {# formats cards into special columns #}
        {% for rack in rack %}
            <div class="card mt-3 " style="width: 19rem;"> {# card containing a rack #}

                <div class="card-header text-center p-3 mb-2 bg-primary text-white"> {# card header #}
                    {{ rack.Name }}
                </div>

                {% for server in server %}
                    {% if server.RackID == rack.RackId %}
                    {# grabs all servers in DB | NEEDS TO BE CHANGED TO ONLY GRAB SERVERS IN THIS RACK #}
                    <ul class="list-group list-group-flush"> {# lists servers that link to their Real Time page #}
                        <a href="/real-time-data-overview/{{ server.ServerId }}"
                           class="list-group-item list-group-item-action text-center">{{ server.ServerName }}<img
                                src="WebApp\Red X.png" class="float-right"></a>
                    </ul>
                    {% endif %}
                {% endfor %}

            </div>
        {% endfor %}


    </div>
{% endblock content %}

{#                <a href="#" class="list-group-item list-group-item-action text-center">DB-01<img src="WebApp\Red X.png"    #}
{#                                                                                                 class="float-right"></a>#}
{#                <a href="#" class="list-group-item list-group-item-action text-center">Head-01<img#}
{#                        src="WebApp\Red X.png" class="float-right"></a>#}
{#                <a href="#" class="list-group-item list-group-item-action text-center">Log-01<img src="WebApp\Red X.png"#}
{#                                                                                                  class="float-right"></a>#}
{#                <a href="#" class="list-group-item list-group-item-action text-center">Scan-01<img#}
{#                        src="WebApp\Red X.png" class="float-right"></a>#}
{#                <a href="#" class="list-group-item list-group-item-action text-center">Lic-01<img#}
{#                        src="C:\Users\Mia\Documents\Spring2020\WebApp\Red.png" class="float-right"></a>#}