{% extends 'layout.html' %}

{% block title %}
    <title>System Monitoring Tool</title>
{% endblock title %}

{% block content %}
    <div class="row mt-3 text-center">
        <div class="col-12 ml-auto p-3 mb-2 bg-secondary text-white">
            <h1>Server System Monitoring Tool</h1>
        </div>
    </div>
    <div class="row mt-3 text-center">
        <div class="col-2">
            <a class="btn btn-secondary btn-lg" href="/masterlist" role="button">Master List</a>
        </div>
        <div class="col-10 ml-auto">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle float-md-right" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Server Type
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item text-center" href="#">All</a>
                    <a class="dropdown-item text-center" href="#">Database</a>
                    <a class="dropdown-item text-center" href="#">File</a>
                    <a class="dropdown-item text-center" href="#">License</a>
                    <a class="dropdown-item text-center" href="#">Logging</a>
                    <a class="dropdown-item text-center" href="#">Node</a>
                    <a class="dropdown-item text-center" href="#">Page</a>
                    <a class="dropdown-item text-center" href="#">Scanning</a>
                    <a class="dropdown-item text-center" href="#">Web</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-columns">
        <div class="card mt-3" style="width: 18rem;">
            <div class="card-header text-center p-3 mb-2 bg-primary text-white">
                Rack A
            </div>

            {% for server in server %}
                <ul class="list-group list-group-flush">
                    <a href="/real-time-data-overview/{{ server.ServerId }}"
                       class="list-group-item list-group-item-action text-center">{{ server.ServerName }}<img
                            src="WebApp\Red X.png" class="float-right"></a>
                </ul>
            {% endfor %}
        </div>
    </div>
    {#                <a href="#" class="list-group-item list-group-item-action text-center">DB-01<img src="WebApp\Red X.png"    #}
    {#                                                                                                 class="float-right"></a>#}
    {#                <a href="#" class="list-group-item list-group-item-action text-center">Head-01<img#}
    {#                        src="WebApp\Red X.png" class="float-right"></a>#}
    {#                <a href="#" class="list-group-item list-group-item-action text-center">Log-01<img src="WebApp\Red X.png"#}
    {#                                                                                                  class="float-right"></a>#}
    {#                <a href="#" class="list-group-item list-group-item-action text-center">Scan-01<img#}
    {#                        src="WebApp\Red X.png" class="float-right"></a>#}
    {#                <a href="#" class="list-group-item list-group-item-action text-center">Lic-01<img#}
    {#                        src="C:\Users\Mia\Documents\Spring2020\WebApp\Red.png" class="float-right"></a>#}
    </div>

{% endblock content %}