{% extends 'layout.html' %} {# Inherits format from layout.html #}


{% block title %} {# Overides layout.html default title #}
    <title>Master List</title> {# Title - shown in tab on browser #}
    <link rel="icon" href="/static/favicons/list.ico">
{% endblock title %}

{% block content %}
    {# Site title bar #}
    <a class="text-decoration-none" href="{{ url_for('home') }}">  {# link to home page #}
        <div class="row mt-3 text-center">
            <div class="col-12 ml-auto p-3 mb-2 bg-secondary text-white">
                <h1>Server System Monitoring Tool</h1> {# Site title #}
            </div>
        </div>
    </a>

    <div class="mt-3 text-center"> {# Home & MasterList button #}
        <div class="row card-body border border-dark font-weight-bold">
            <div class="text-left">  {# home button #}
                <a class="btn btn-secondary btn-lg" href="{{ url_for('home') }}" role="button">
                    <i class="fa fa-home"></i> Home
                </a>
            </div>
            <div class="col-10">
                <h2 class="text-center">Master List</h2> {# Page title #}
            </div>
        </div>
    </div>

    <div class="row mt-3 text-center">  {# Displays flash messages if there are any #}
        <div class="col-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="row mt-3 text-center"> {# Master List table row #}
        <div class="col-12 ">
            <table class="table table-bordered  table-secondary ">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Type</th>
                    <th scope="col">ID</th>
                </tr>
                </thead>
                <tbody>
                {% for m in mList %}  {# Creates a row for ea #}
                    <tr>
                        <td scope="row">
                            {# Delte button #}
                            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                                    data-target="#{{ m.Type | safe }}{{ m.Name | safe }}">Delete
                            </button>
                        </td>
                        <td>{{ m.Type }}</td>
                        {# Server Type #}
                        <td>{{ m.Name }}</td>
                        {# Server ID #}
                    </tr>
                {% endfor %}

                <form method="post"> {# Form row for adding a server #}
                    {{ form.csrf_token }} {# cross site request forgery token #}
                    <tr>
                        <td>  {# Add button #}
                            <button type="submit" class="btn btn-success btn-sm m-1">ADD</button>
                        </td>
                        <td>
                            <div> {# Server Type dropdown #}
                                {{ form.type }}
                            </div>
                        </td>
                        <td>{# Text Box Input for server ID #}
                            {{ form.name }}
                            <small class="form-text text-muted">  {# error messages for text input #}
                                {% for err in form.name.errors %}
                                    {{ err }}
                                {% endfor %}
                            </small>
                        </td>
                    </tr>
                </form>
                </tbody>
            </table>
        </div>
    </div>

    {% for m in mList %}  {# Modals/Popups to confirm intent to delete server #}
        <div class="modal fade" id="{{ m.Type | safe }}{{ m.Name | safe }}" tabindex="-1" role="dialog"
             aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to
                            DELETE {{ m.Type }}-{{ m.Name }}?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                        <form action="{{ url_for('deleteServer', mlType=m.Type, mlName=m.Name) }}"
                              method="POST">  {# button to delete #}
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock content %}
