
{% extends 'layout.html' %} {# Inherits format from layout.html #}


{% block title %} {# Overides layout.html default title #}
    <title>Master List</title> {# Title - shown in tab on browser #}
{% endblock title %}

{% block content %}

    <div class="row mt-3 text-center"> {# Row for page header #}
        <div class="col-12 ml-auto p-3 mb-2 bg-secondary text-white">
            <h1>Server System Monitoring Tool</h1>
        </div>
    </div>

    <div class="row mt-3 text-center"> {# Home button and Page title #}

        <div class="col-2"> {# Home Button #}
            <a class="btn btn-secondary btn-lg" href="/" role="button">Home</a>
        </div>

        <div class="col-10 "> {# Page title #}
            <div class="card">
                <div class="card-body border border-dark font-weight-bold">
                    <h3>Master List</h3>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-3 text-center"> {# Master List table #}

        <div class="col-12 ">
            <table class="table table-bordered  table-secondary ">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Type</th>
                    <th scope="col">ID</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                                   value="option1" aria-label="...">
                        </div>
                    </td>
                    <td>Database</td>
                    <td>01</td>
                </tr>
                <tr>
                    <td scope="row">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                                   value="option1" aria-label="...">
                        </div>
                    </td>
                    <td>License</td>
                    <td>01</td>
                </tr>
                <tr>
                    <td scope="row">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                                   value="option1" aria-label="...">
                        </div>
                    </td>
                    <td>Node</td>
                    <td>01</td>
                </tr>
                <tr>
                    <td scope="row">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                                   value="option1" aria-label="...">
                        </div>
                    </td>
                    <td>Log</td>
                    <td>01</td>
                </tr>
                <tr class="table-light">
                    <td scope="row"></td>
                    <td>
                        <div class="input-group"> {# Server Type dropdown #}
                            <select class="custom-select" id="inputGroupSelect04"
                                    aria-label="Example select with button addon">
                                <option selected>Choose Server Type</option>
                                <option value="1">Database</option>
                                <option value="2">File</option>
                                <option value="3">Logging</option>
                                <option value="3">Node</option>
                                <option value="3">Page</option>
                                <option value="3">Scanning</option>
                                <option value="3">Web</option>
                            </select>
                        </div>
                    </td>
                    <td class="table-active">
                        <div class="input-group mb-3"> {# Text Box Input #}
                            <input type="text" class="form-control"
                                   aria-label="Text input with segmented dropdown button">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3 text-center"> {# Add Delete Buttons #}
        <div class="col-09">
            <a class="btn btn-danger btn-lg float-md-right" href="#" role="button">Delete</a> {# Delete Button #}
        </div>
        <div class="col-11 ml-auto">

            <a class="btn btn-success btn-lg float-md-right" href="#" role="button">Add</a> {# Add button #}
        </div>
    </div>

{% endblock content %}

<!--
<div class = "row mt-3 text-center">
         <div class="col-2">
            <a class="btn btn-secondary btn-lg" href="#" role="button">Home</a>
        </div>
        <div class="col-10 ml-auto">
           <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle float-md-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Server Type
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item text-center" href="#">All</a>
    <a class="dropdown-item text-center" href="#">Database</a>
    <a class="dropdown-item text-center" href="#">File</a>
    <a class="dropdown-item text-center" href="#">License</a>
    <a class="dropdown-item text-center" href="#">Logging</a>
    <a class="dropdown-item text-center" href="#">Node</a>
    <a class="dropdown-item text-center" href="#">Page</a>
    <a class="dropdown-item text-center" href="#">Scanning</a>
    <a class="dropdown-item text-center" href="#">Web</a>
  </div>
</div>
        </div>

</div>-->