{% extends 'layout.html' %}

{% block title %}
    <title>Current Data</title>
{% endblock title %}

{% block content %}
    <!--Title-->
    <div class="row mt-3 text-center">
        <div class="col-12 ml-auto p-3 mb-2 bg-secondary text-white">
            <h1>Server System Monitoring Tool</h1>
        </div>
    </div>

    <!--Home Button and Server-->
    <div class="row mt-3 text-center">
        <div class="col-2">
            <a class="btn btn-secondary btn-lg" href="#" role="button">Home</a>
        </div>
        <div class="col-10 ">
            <div class="card">
                <div class="card-body border border-dark font-weight-bold">
                    <h5>Rack A | Server: Lic-01</h5>
                </div>
            </div>
        </div>
    </div>

    <!--Server Specs-->
    <div class="row mt-3 text-center">
        <div class="col-12 ">
            <table class="table table-borderless  table-secondary ">
                <thead>
                <tr>
                    <th scope="col">Server Specifications</th>
                    <th scope="col">Operating System:</th>
                    <th scope="col">CPU | Cores</th>
                    <th scope="col">GPU</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row"></td>
                    <td>Windows Server 2016</td>
                    <td>Intel Xeon E5 v4 | 32 Cores</td>
                    <td>NVIDIA Titan RTX</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Usage Table-->
    <div class="row mt-3 text-center">
     <span class="col-12 border border-dark ">
 <div class="col-12 ml-auto">

   <table class="table table-borderless table-hover">

  <tbody>
    <tr>
      <th scope="row"><h3><img src="WebApp\Red X.png" class="float-left"></h3></th>
        <td><h3 class="text-center">CPU Usage:</h3></td>
        <td><h3 class="text-danger">85%</h3></td>
    </tr>
    <tr>
        <th scope="row"><h3><img src="WebApp\Red X.png" class="float-left"></h3></th>
         <td><h3>RAM Usage:</h3></td>
        <td><h3 class="text-success">44%</h3></td>

    </tr>
    <tr>
        <th scope="row"><h3><img src="WebApp\Red X.png" class="float-left"></h3></th>
        <td><h3>Disk Usage:</h3></td>
        <td><h3 class="text-success">60%</h3></td>
    </tr>
  <tr>
      <th scope="row"><h3><img src="WebApp\Red X.png" class="float-left"></h3></th>
      <td><h3>GPU Usage:</h3></td>
      <td><h3 class="text-warning">55%</h3></td>
    </tr>
  <tr>
      <th scope="row"><h3><img src="WebApp\Red X.png" class="float-left"></h3></th>
       <td><h3>Ping Status:</h3></td>
      <td><h3 class="text-success">Responding </h3></td>

    </tr>
  </tbody>
</table>
     </div>
      </span>

    </div>

    <!--Services Table-->
    <div class="row mt-3 text-center">
        <div class="col-lg-12 ml-auto">
            <table class="table table-bordered">

                <thead>
                <tr>
                    <th scope="col">Service Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Runtime</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Service A</th>
                    <td>Running</td>
                    <td>5d10h20m</td>
                </tr>
                <tr>
                    <th scope="row">Service B</th>
                    <td>Running</td>
                    <td>1d20h20m</td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>

{% endblock content %}