{# NON HARD-CODED VERSION #}

{% extends 'layout.html' %} {# inherits format from layout.html #}

{% block title %} {# Overides layout.html default title #}
    <title>Current Data - {{ server.ServerName }}</title> {# Title - shown in tab on browser #}
{% endblock title %}

{% block content %}

    <div class="row mt-3 text-center"> {# Page header #}
        <div class="col-12 ml-auto p-3 mb-2 bg-secondary text-white">
            <h1>Server System Monitoring Tool</h1>
        </div>
    </div>

    <div class="row mt-3 text-center"> {# Home button & Rack & Server Names #}

        <div class="col-2"> {# Home Button #}
            <a class="btn btn-secondary btn-lg" href="/" role="button">Home</a>
        </div>

        <div class="col-10 "> {# Rack & Server Names  #}
            <div class="card">
                <div class="card-body border border-dark font-weight-bold">
                    <h5>{{ rack.Name }} | Server: {{ server.ServerName }}</h5>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-3 text-center"> {# Server Specs #}
        <div class="col-12 ">

            <table class="table table-borderless  table-secondary ">
                <thead>
                <tr> {# Spec's names #}
                    <th scope="col">Server Specifications</th>
                    <th scope="col">Operating System</th>
                    <th scope="col">CPU | Cores</th>
                    <th scope="col">GPU</th>
                    <th scope="col">Memory</th>
                    <th scope="col">Model</th>
                    <th scope="col">Building</th>
                    <th scope="col">Room</th>
                    <th scope="col">Last Updated</th>

                </tr>
                </thead>
                <tbody>
                <tr> {# Spec's Values #}
                    <td scope="row"></td>
                    <td>{{ server.Os }}</td>
                    <td>{{ server.Cpu }} | {{ server.CpuCores }}</td>
                    <td>{{ server.Gpu }}</td>
                    <td>{{ server.Memory }}GB</td>
                    <td>{{ server.Model }}</td>
                    {#<td>{{ location.BuildingNumber }}</td>
                    <td>{{ location.Room }}</td>#}
                    <td>{{ metric.Time }}</td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row mt-3 text-center"> {# Usage Table #}
        <span class="col-12 border border-dark ">
 <div class="col-12 ml-auto">

   <table class="table table-borderless table-hover">
       <tbody>
    <tr>
      <th scope="row"><h3><img src="WebApp\Red X.png" class="float-left"></h3></th>
        <td><h3 class="text-center">CPU Usage:</h3></td>
        <td><h3 class="text-danger"><a href="/usage-cpu/{{ server.ServerId }}">{{ metric.Cpu }}%</a></h3></td>
    </tr>
    <tr>
        <th scope="row"><h3><img src="WebApp\Red X.png" class="float-left"></h3></th>
         <td><h3>RAM Usage:</h3></td>
        <td><h3 class="text-danger"><a href="/usage-RAM/{{ server.ServerId }}">{{ metric.Ram }}%</a></h3></td>

    </tr>
    <tr>
        <th scope="row"><h3><img src="WebApp\Red X.png" class="float-left"></h3></th>
        <td><h3>Disk Usage:</h3></td>
        <td><h3 class="text-danger"><a href="/usage-Disk/{{ server.ServerId }}">{{ metric.Disk }}%</a></h3></td>
    </tr>
    <tr>
      <th scope="row"><h3><img src="WebApp\Red X.png" class="float-left"></h3></th>
      <td><h3>GPU Usage:</h3></td>
        <td><h3 class="text-danger"><a href="/usage-GPU/{{ server.ServerId }}">{{ metric.Gpu }}%</a></h3></td>
    </tr>
    <tr>
      <th scope="row"><h3><img src="WebApp\Red X.png" class="float-left"></h3></th>
       <td><h3>Ping Status:</h3></td>
      <td><h3 class="text-success"><a href="/usage-Ping/{{ server.ServerId }}">{{ metric.PingLatency }}ms - Responding </a> </h3></td>

    </tr>
  </tbody>
    </table>

            </div>
        </span>

    </div>

    <div class="row mt-3 text-center"> {# Services Table #}
        <div class="col-lg-12 ml-auto">

            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Service ID</th>
                    <th scope="col">Service Name</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>

                <tbody>

                {% for service in service %} {# Gets all services for this server #}
                    <tr>
                        <th scope="row">{{ service.ServiceId }}</th>
                        <th scope="row">{{ service.ServiceName }}</th>
                        <td>{{ service.Status }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3 text-center"> {# Database Table #}
        <div class="col-lg-12 ml-auto">

            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Database ID</th>
                    <th scope="col">Database Name</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>

                <tbody>

                {% for db in database %} {# Gets all databases for this server #}
                    <tr>
                        <th scope="row">{{ db.DatabaseId }}</th>
                        <th scope="row">{{ db.DatabaseName }}</th>
                        <td>{{ db.Status }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3 text-center"> {# Database Table #}
        <div class="col-lg-12 ml-auto">

            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Job Name</th>
                    <th scope="col">User</th>
                    <th scope="col">Remaining Time</th>
                </tr>
                </thead>

                <tbody>

                {% for rj in runningjob %} {# Gets all databases for this server #}
                    <tr>
                        <th scope="row">{{ rj.JobName }}</th>
                        <th scope="row">{{ rj.User }}</th>
                        <td>{{ rj.ReservedTime }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}