
{# NEW NON HARD-CODED VERSION #}

{% from '_formhelpers.html' import render_field %} {# import neede for chard range forms #}

{% extends 'layout.html' %} {# inherits format from layout.html #}

{% block title %}{# Overides layout.html default title #}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> {# Script needed for chart.js #}

    <title>RAM-Usage - {{ server.ServerName }}</title> {# Title - shown in tab on browser #}
{% endblock title %}

{% block content %} {# Overides layout.html body section #}

    <div class="row mt-3 text-center"> {# Row for page header #}
        <div class="col-12 ml-auto p-3 mb-2 bg-secondary text-white">
            <h1>Server System Monitoring Tool</h1>
        </div>
    </div>

    <!--Home Button and Server-->
    <div class="row mt-3 text-center"> {# {# Home button & Rack & Server Names  #}

        <div class="col-2"> {# Home Button #}
            <a class="btn btn-secondary btn-lg" href="/" role="button">Home</a>
        </div>

        <div class="col-10 "> {# Rack & Server Names #}
            <div class="card">
                <div class="card-body border border-dark font-weight-bold">
                    <h5>Rack A | {{ server.ServerName }}</h5>
                </div>
            </div>
        </div>

    </div>

{#    </div>#}
    <div class="row text-center m-2"> {# Displays this servers RAM usage #}
        <div class="col-12">
            <h2 class="text-danger"> RAM Usage: <b>{{ ametric.Ram }}%</b></h2>
        </div>
    </div>

    <div class="row text-center mt-3 ml-auto"> {# forms for chard date range | NOT CURRENTLY WORKING #}
        <div class="col-10">
            <form method="post">
                {{ form.csrf_token }}
                {{ render_field(form.startdate) }}
                {{ render_field(form.enddate) }}
                <input type="submit" value="update">

                {#                <div class="input-group mb-3">#}
                {#                    <div class="input-group-prepend">#}
                {#                        <span class="input-group-text" id="basic-addon3">Start & End Date</span>#}
                {#                    </div>#}
                {#                    <input type="text" placeholder="09/01/2019" aria-label="start date" class="form-control">#}
                {#                    <input type="text" placeholder="10/01/2019" aria-label="end date" class="form-control">#}
                {#                </div>#}
                {#            </div>#}
                {#            <div class="col-2">#}
                {#                <a class="btn btn-success" href="#" onclick="window.location.reload(true);" role="button">Refresh</a>#}
                {#                <input type="submit" value="update">#}
                {#            </div>#}
            </form>
        </div>
    </div>


{#        <div class="row ml-2"> {# Lists the dates in date range in order | FOR TESTING/DEBUGGING #}
{#            <ol>#}
{#                {% for d in date %}#}
{#                    <li> {{ d }} </li>#}
{#                {% endfor %}#}
{#            </ol>#}
{#        </div>#}

        <div class="row text-center m-5">{# Chart for usage #}

            <div class="col">
                <canvas id="myChart"></canvas>
            </div>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    {# The type of chart we want to create #}
                    type: 'line',

                    {# The data for our dataset #}
                    data: {
                        labels: [{% for d in date %} "{{ d }}", {% endfor %}], {# Dates #}
                        datasets: [{
                            label: 'My First dataset',
                            backgroundColor: 'rgb(255,249,142)',
                            borderColor: 'rgb(0, 0, 0)',
                            data: [{% for u in usage %} "{{ u }}", {% endfor %}] {# Usages #}
                        }]
                    },

                    {# Configuration options go here #}
                    options: {}
                });
            </script>
        </div>

        <div class="row"> {# RAM Usage table #}
            <div class="col mt-5 mb-5">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Date/Time</th>
                        <th scope="col">RAM Usage (%): Hi-Avg-Low</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>9/1/2019-00:00</td>
                        <td>60-40-20</td>
                    </tr>
                    <tr>
                        <td>9/2/2019-00:00</td>
                        <td>62-50-30</td>
                    </tr>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>10/1/2019-00:00</td>
                        <td>70-52-40</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


{% endblock content %}